
.footer{
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #EED8AE;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  bottom: 0px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #ccc;
}
.footer_link:link,.footer_link:visited {
    background-color: #EED8AE;
    color: #424141;
    border-color:#f9c38e;
    border-width: 0px;
    font-size: 0.9em;
    font-family: "LogoFont";
    font-weight: bold;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.footer_link:hover, .footer_link:active {
    color: #000000;
    background-color: #fef2da;
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
}
.hvcenter {
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

i.fa-facebook{
  width: inherit;
  text-shadow: 1px 1px 1px #ccc;
  color: #3b5998;
}
i.fa-facebook:hover{
  width: inherit;
  text-shadow:2px 2px 2px #ccc;
  color: #000000;
}
i.fa-google-plus{
  text-shadow: 1px 1px 1px #ccc;
  color: #D50F25;
}
i.fa-google-plus:hover{
  width: inherit;
  text-shadow:2px 2px 2px #ccc;
  color: #000000;
}
