
.footer{
  position: fixed;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #585858;
  margin-bottom: 0px;
  height: auto;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 28px;
  border-radius: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}
.footer_link:link,.footer_link:visited {
    background-color: #585858;
    color: #fff;
    border-color:#000;
    border-width: 0px;
    font-size: 0.85em;
    font-family: "LogoFont";
    font-weight: bold;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.footer_link:hover, .footer_link:active {
    color: #fff;
    background-color: #ccc;
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
}
.hvcenter {
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

i.fa-facebook{
  width: inherit;
  text-shadow: 1px 1px 1px #fff;
  color: #3b5998;
}
i.fa-facebook:hover{
  width: inherit;
  text-shadow:2px 2px 2px #fff;
  color: #000000;
}
i.fa-google-plus{
  text-shadow: 1px 1px 1px #fff;
  color: #D50F25;
}
i.fa-google-plus:hover{
  width: inherit;
  text-shadow:2px 2px 2px #ccc;
  color: #000000;
}

#main_div{
    padding-bottom: 28px;
}
