@import url("font.css");
@import url("navbar.css");
@import url("maps.css");
@import url("contact.css");
@import url("header.css");
@import url("footer.css");
@import url("rekomendacje.css");

.fa-facebook{
  color: #3b5998;
}
.fa-google-plus{
  color: #D50F25;
}

.main-place{
  position:relative;
}

.body{
  background-color: #ffecd9;
  overflow: scroll;
}

.no_place{
  margin: 0px;
  padding: 0px;
  float: left;
}
