@import url("font.css");
@import url("navbar.css");
@import url("maps.css");
@import url("contact.css");
@import url("header.css");
@import url("footer.css");
@import url("rekomendacje.css");
@import url("o_nas.css");
@import url("gallery.css");
@import url("homeSlider.css");

.navbar_color{
  background-color: #585858;
}
.back_color{
  background-color: #fff;
}

.main-place{
    position:relative;
}



.body{
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "LogoFont";
}

.no_place{
  margin: 0px;
  padding: 0px;
  float: left;
  margin-bottom: 30px;
}

.slide {
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.slide.ng-enter,
.slide.ng-leave {
  -o-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}

.show {
  opacity:0;
-moz-transition: opacity 2s; /* Firefox 4 */
-webkit-transition: opacity 2s; /* Safari and Chrome */
-o-transition: opacity 2s;
transition: opacity 2s;
}
