.navbar-custom {
    color:#ffffff;
    border-radius:0;
    border-style: solid;
    border-color: #000000;
    border-top: 1px;
    border-bottom: 1px;
}


.navbar-custom .navbar-nav > li > a {
    color:#424141;
    letter-spacing: 1px;
    font-family: "LogoFont";
    font-weight: bold;
    text-shadow: 1px 1px 1px #ccc;
}

.navbar-custom .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #ff7f00;
  border-radius: 1px;
}

.navbar-custom .navbar-left > li > a:hover,
.navbar-custom .navbar-left > li > a:focus {
    background-color: #fef2da;
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
}

.navbar-custom .navbar-right > li > a{
  font-size: 1.2em;
}

.navbar-custom .navbar-right > li > a:hover .fa-facebook,
.navbar-custom .navbar-right > li > a:focus .fa-facebook,
.navbar-custom .navbar-right > li > a:hover .fa-google-plus,
.navbar-custom .navbar-right > li > a:focus .fa-google-plus{
  color:#000000;
}


.navbar-custom .navbar-right > li > a:hover,
.navbar-custom .navbar-right > li > a:focus,
.navbar-custom .navbar-right > li > a:hover,
.navbar-custom .navbar-right > li > a:focus {
  background-color:#EED8AE;
}

.navbar-custom .navbar-brand {
    color:#424141;
    letter-spacing: 0px;
    font-family: "LogoFont";
    text-shadow: 1px 1px 1px #ccc;
}

 .navbar-collapse{
   text-align: center;
}

.navbar-custom .navbar-collapse .navbar-nav{
  margin:0;
  float:none;
  overflow: hidden;
}

.navbar_logo{
 height: 100%;
 overflow: hidden;
}
@media (min-width:200px) and (max-width: 400px){
    .navbar_logo{
      width: 0px;
    }
    .navbar-custom .navbar-brand {
      color:#424141;
      letter-spacing: 0px;
      font-family: "LogoFont";
      font-size: 90%;
    }
}
