#o_nas.row>p{
  text-indent: 10px;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row-border {
    margin-bottom: 5px;
}

.o_nas_photo{
  height: auto;
  text-align: center;
  margin: 15px;
}
.vcenter {
    text-align: justify;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
@media (min-width: 200px) {
    .o_nas_photo{
      width: 150px;
    }
}

@media (min-width: 400px) {
    .o_nas_photo{
      width: 200px;
    }
}
@media (min-width: 768px) {
  .o_nas_photo{
    width: 300px;
  }
}
