<footer class="container footer">
  <div class="container">
    <div class="row navbar-color">
      <div class="col-md-1">
          <a  class="footer_link" href="#!/kontakt">Kontakt</a>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-2 hvcenter"  ng-controller="socialCntrl">
        <a class="footer_link" href="" ng-click="redirectToFB()"><i class="fa fa-facebook"> |Zobacz nas na facebook'u!</i></a>
      </div>
      <div class="col-md-3 hvcenter"  ng-controller="socialCntrl">
        <a class="footer_link" href="" ng-click="redirectToGoogle()"><i class="fa fa-google-plus"> |Sprawdz nas w google plus!</i></a>
      </div>

    </div>
  </div>
</footer>
